* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
} 

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #999999;
}

.container {
  width: 100%;
  max-width: 1176px;
  margin: 0 auto;
  padding: 0 15px;
}

/*HEADER*/

a {
  text-decoration: none;
}

.burger-menu {
  display: none;
  width: 30px;
  height: 3px;
  border: 0;
  position: absolute;
  top: 45px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
}

.burger-menu::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  display: block;
  position: absolute;
  bottom: 8px;
  right: 0;
  transition: transform .2s linear;
}

.burger-menu::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  display: block;
  position: absolute;
  top: 8px;
  right: 0;
  transition: transform .2s linear;
}

.burger-menu.active::before {
  transform-origin: left top;
  transform: rotate(45deg) translate3d(-2px, -3px, 0px);
}

.burger-menu.active::after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate3d(0px, 0px, 0px);
}

.burger-menu.active {
  background: none;
}

.header {
  background-color: #181817;
  height: 100px;
}

.list-item {
  display: inline-block;
  text-transform: uppercase;
  color: #fefefe;
  font-weight: bold;
  position: relative;
}

.list-item::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #ffce76;
  opacity: 0;
  position: absolute;
  top: 263%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}

.list-item:hover::after {
  opacity: 1;
}

#last {
  margin-right: 0;
}
 
.menu-item:last-child {
  margin-left: 22px;
}

.menu-item:first-child {
  margin-right: 30px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.user-navigation {
  list-style: none;
  display: flex;
  flex: 1 1 0;
  justify-content: space-around;
}

/*Intro*/

.intro {
  width: 100%;
  height: 100vh;
  background: url('../img/intro.png') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-text {
  margin-left: -20px;
}

.intro-title {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  line-height: 80px;
}

.meeting {
  font-size: 25px;
  color: #ffffff;
  font-weight: 100;
  margin-bottom: 50px;
}

.meeting::before {
  content: "";
  width: 65px;
  height: 5px;
  background-color: #ffce76;
  display: inline-block;
  margin: 0 20px 6px 0;
}

.meeting .meeting-logo {
  color: #ffce76;
}

/*Advantages*/

.advantages {
  padding: 100px 0 150px 0;
  background-color: #181817;
}

.advantage-box {
  display: flex;
  justify-content: space-between;
}

/*Advantages -> Icons*/

.toolsImg {
  margin: 8px 20px 0 20px;
}

.starImg {
  margin: 8px 3px 0 9px;
}

.noteImg, .phoneImg {
  margin: 8px 30px 0 13px;
}

/*Advantages <- Icons*/

.advantage-li {
  display: flex;
  width: 400px;
  margin-bottom: 65px;
}

.advantage-li-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #ffce76;
  letter-spacing: 5px;
  margin-bottom: 24px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.advantage-li-text {
  color: #fefefe;
  font-size: 14px;
  font-weight: 100;
}

.main-title {
  margin-bottom: 110px;
}

.main-title img {
  display: block;
  margin: 0 auto;
}

.title-section-text {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  color: #ffce76;
  letter-spacing: 5px;
  text-align: center;
}

/*Trends*/

.trends-box {
  display: flex;
  flex-wrap: wrap;
}

.trends-detail {
  display: inline;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.trends-item:first-child {
  width: 50%;
  min-height: 340px;
  background: url(../img/plane.png) no-repeat center;
  background-size: cover;
}

.trends-item:nth-child(2) {
  width: 50%;
  min-height: 340px;
  background: url(../img/blue\ sofa.png) no-repeat center;
  background-size: cover;
}

.trends-item:nth-child(3) {
  width: 25%;
  min-height: 330px;
  background: url(../img/armchair.png) no-repeat center;
  background-size: cover;
}

.trends-item:nth-child(4) {
  width: 53%;
  min-height: 330px;
  background: url(../img/boxes.png) no-repeat right;
  background-size: cover;
}

.trends-item.last {
  width: 22%;
  min-height: 330px;
  background: url(../img/apple.png) no-repeat center;
  background-size: cover;
}

.trends-text-item {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 35px;
  margin-bottom: 35px;
}

.trend-text-title.first {
  padding: 75px 0 0 95px;
  width: 250px;
}

.trend-text-title.second {
  padding: 50px 0 0 50px;
  width: 310px;
}

.trend-text-title.third {
  padding: 40px 0 0 50px;
  width: 250px;
}

.color-black {
  color: #352b30;
}

.color-blue {
  color: #599ba7;
}

.color-green {
  color: #749d26;
}

.view-arrow {
  font-size: 13px;
  margin-left: 5px;
}

/*Collection*/

.collection {
  padding: 100px 0;
}

.title-section-text.title-black {
  color: #181817;
}

.collection-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.collection-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -17px;
  left: -12px;
  width: 294px;
  height: 434px;
  background-color: #ffce76;
  opacity: 0;
  box-shadow: 0 0 40px -3px rgba(0, 0, 0, 0.35);
  transition: opacity .2s linear;
}

.collection-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 270px;
  height: 400px;
  padding: 40px 40px 0 25px;
  
  position: relative;
  margin-bottom: 30px;
}

.collection-item img:first-child {
  margin-left: 12px;
}

.collection-item:hover .collection-inner {
  opacity: .75;
}

.collection-nav {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  
}

 .collection-nav-item {
   color: #ffffff;
   font-size: 22px;
   font-weight: 100;
 }

 .collection-nav-item:nth-child(2) {
   margin: 0 10px;
 }

.collection-style {
  width: 185px;
  height: 60px;
  background-color: #2d3a4b;
  border-radius: 30px;
}

.collection-text {
  margin-bottom: 30px;
}

.collection-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-bottom: 15px;
  margin-top: 10px;
}

.collection-item.new .new-thing {
  position: absolute;
  top: 0;
  left: 0;
}

.price {
  font-size: 27px;
  color: #000;
  margin-bottom: 15px;
}

/*Designer*/

.designer {
  padding: 100px 0 200px 0;
  background: url(../img/bgDesign.png) no-repeat center;
  background-size: cover;
}

.designer-box {
  display: flex;
  justify-content: space-between;
}

.designer-item {
  margin-top: 20px;
}

.designer-name {
  font-size: 30px;
  font-weight: 600;
  color: #fafafa;
  margin-top: 20px;
  position: relative;
}

.designer-name:after {
  content: "";
  width: 45%;
  height: 3px;
  background-color: #ffce76;
  position: absolute;
  right: 0;
  top: 23px;
}

/*Project*/

.project {
  padding-top: 90px;
}

.project-box {
  display: flex;
  height: 1000px;
  width: 100%;
}

.project-inner {
  position: relative;
}

.project-inner-text {
  font-size: 20px;
  font-weight: 600;
  color: #fafafa;
  text-transform: uppercase;
  transform: rotate(-90deg);
  letter-spacing: 10px;
  position: absolute;
  left: -120px;
  bottom: -720px;
}

.project-item {
  width: 25%;
}

.project-item.first {
  background: url('../img/slide1.png') no-repeat center;
  background-size: cover;
}

.project-item:nth-child(2) {
  background: url('../img/slide2.png') no-repeat center;
  background-size: cover;
}

.project-item:nth-child(3) {
  background: url('../img/slide3.png') no-repeat center;
  background-size: cover;
}

.project-item:nth-child(4) {
  background: url('../img/slide4.png') no-repeat center;
  background-size: cover;
}

.project-title {
  font-size: 30px;
  font-weight: 600;
  color: #fafafa;
  text-transform: uppercase;
  padding: 50px 60px 0 60px;
}

/*Blog*/

.blog {
  padding: 100px 0 110px 0;
}

.blog-box {
  display: flex;
}

.blog-button {
  width: 160px;
  height: 50px;
  background-color: #ffce76;
  padding: 15px 0 0 20px;
}

.blog-button i {
  color: #000;
  font-size: 15px;
}

.blog-img {
  width: 100%;
}

.blog-inner {
  padding: 40px 25px 20px 25px;
}

.blog-item {
  width: 33.333%;
}

.blog-item:not(.blog-item:last-child) {
  margin-right: 30px;
}

.blog-link {
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
}

.blog-text {
  margin: 25px 0 30px 0;
}

.blog-title {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

/*Footer*/

.footer {
  padding: 60px 0 80px 0;
  background-color: #181817;
}

.footer-contacts {
  display: flex;
  margin-bottom: 60px;
}

.footer-nav {
  display: flex;
}

.contacts-item {
  border-left: solid 4px #ffcf768c;
  padding: 10px 0 5px 20px;
  width: 33.3%;
}

.contacts-title {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #fece76;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.contacts-text {
  color: #fafafa;
  font-weight: 100;
  margin-bottom: 10px;
}

.nav-social {
  margin-top: 30px;
}

.social-inner {
  padding-top: 2px;
  display: inline-block;
  color: #fafafa;
  font-size: 25px;
  text-align: center;
  border: solid 0.5px #fafafa44;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 32px;
}

.nav-item {
  width: 33.3%;
}

.social-title {
  font-size: 30px;
  font-weight: 600;
  color: #fafafa;
  position: relative;
  top: -11px;
}

/*Form input+button*/

#adress {
  margin-bottom: 20px;
}

#key {
  width: 80%;
  height: 50px;
  background-color: #181817;
  border: solid 0.5px #fafafa44;
  padding-left: 20px;
  border-right: none;
  outline: none;
  color: #fafafa44;
}

#key:focus::-webkit-input-placeholder {
  color: transparent
}

.button-inner {
  height: 50px;
  width: 17%;
  background-color: #181817;
  border: solid 0.5px #fafafa44;
  border-left: none;
  position: relative;
  left: -4px;
}

.button-inner:hover {
  cursor: pointer;
}

.button-inner i {
  color: #fafafa44;
  font-size: 14px;
}

@media (max-width: 1230px) {

  
  /*Advantages*/

  .advantage-li {
    width: auto;
  }

  /*Collection*/
   
  /*Designer*/

  .designer-item img {
    max-width: 100%;
    height: auto;
  }

  .designer-item:not(.designer-item:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 990px) {
  
}

@media (max-width: 770px) {

  /*Header*/

  .burger-menu {
    display: block;
  }

  .menu-navigation {
    display: flex;
    flex: 1 1 0;
    justify-content: space-around;
    padding-right: 50px;
  }

  .navigation {
    justify-content: flex-start;
  }
  
  .user-navigation {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 12%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #181817e8;
  }

  .user-navigation.active {
    visibility: visible;
  }

  .user-navigation li {
    display: block;
    margin: 0 0 30px 20px;
  }

  /*Advantages*/

  .advantage-item:nth-child(2) {
    display: none;
  }

  /*Collection*/

  .collection-box {
    justify-content: space-around;
  }

  /*Designers*/

  .designer-box {
    display: block;
    text-align: center;
  }

  .designer-item {
    display: inline-block;
  }

  .designer-item:not(.designer-item:last-child) {
    margin-right: 0;
  }

  .designer-name {
    text-align: left;
  }

}